body, html{
    margin: 0;
}

div{
    width: auto;
}

ul{
    list-style-type: none;
    background: #37474F;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Francois One', sans-serif; 
}

  li{
    display: inline-block;
    border-right: solid grey 1px; 
    padding: 20px; 
  }

  li:hover{
    background: #263238;
  }

  .home:hover{
    background: #01579B;
  }

  a{
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;
  }

  i.fa-building{
      background: #FFEB3B;
      font-size: 24px; 
      margin: 5px;
  }
