<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Doc Title-->
    <title>Movie Search</title>

    <!--My CSS-->
    <link rel="stylesheet" href="style.css">
</head>
<body id = "home_page">
    <h1>Am Home</h1>
    <form action="/getMovies" method="get">
        <input type = "text" name = "kittens" placeholder = "Enter movie here...">
        <!-- <input type = "text" name = "mouse" placeholder = "Stuff"> -->
        <button type = "submit">Search</button>
    </form>
</body>
</html>