
<%- include('partials/header.ejs') %>

<div class="background">
    <div class="container">
    <div class = "landingText">
        <h1>Watch some FRESH movies hallelujer!</h1>
        <form action="/movies" method="get">
            <button type="submit" class="btn btn-warning">Gimme da movies!</button>
       </form>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>


